@using PizzApp.Models.Entities
@using PizzApp.Models.ViewModels

@model List<OrderViewModel>

<h1>
    List of all orders:
</h1>

<div class="card" style="max-width: 600px;">
<div class="card-header">
  Details
</div>
<ul class="list-group list-group-flush">
@foreach(OrderViewModel order in @Model)
{
    <li class="list-group-item">@Html.Partial("../Shared/OrderPartials/_OrderItem.cshtml", order);</li>
}
</ul>
</div>
