@using PizzApp.Models.Entities

@model List<Order>

<h1>
    List of all orders:
</h1>

<table>
    <thead>
        <tr>
            <th>
                Order ID:
            </th>
            <th>
                Address:
            </th>
            <th>
                Total Price:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Order order in @Model)
        {
            <tr>
                <td>
                    <a asp-controller="Order" asp-action="Details" asp-route-id="@order.Id">
                        @order.Id
                    </a>
                </td>
                <td>
                    @order.UserAddress
                </td>
                <td>
                    @order.TotalPrice $
                </td>
            </tr>
        }
    </tbody>
</table>
