html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}

th, td {
    padding: 10px;
    border: solid rgb(0, 0, 0) 0.1em;
    font-size: 1em;
    font-weight: bolder;
}

tbody > tr:nth-child(odd) {
    background: rgb(128, 128, 128);
}